html{
    height : 100%;
    width : 100%;
}

body{
    margin : 0px;


}
path{
    fill : #90c8b1;
}

#start-modal{
    position : absolute;
    height : 100%;
    width : 100%;
    background-color: #53494b;
    color : #ffffff;
    display : flex;
}
input {
    outline: none;
  }
.row{
    display : flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #655c5d 1px;
    padding : 10px;
}
.left{
    font-size : 13px;
}
.right{
    font-size : 14px;
    text-align: right;
    background-color: #53494b;
    border: none;
    color : #ffffff
}
#start{
    margin : 50px 0px;
    height : 40px;
    background-color : #90c8b1;
    font-size : 14px;
    color : #53494b;
    display : flex;
    justify-content : center;
    align-items : center;
}
.wrapper{
    padding: 20px;
    
}
#main-body{
    background-color: #f9f9f9;
    position : absolute;
    width : 100%;
    height : 100%;

}
#profile{
    display : flex;
    width : 80%;
    margin : 20px;
    justify-content: space-between;
    
}

#profile-image{
    width : 100px;
    height : 100px;
    background-image: url(src/profile_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#profile-name{
    font-size : 20px;
    margin-top : 10px;
}
#profile-date{
    display : flex;
    margin-top : 10px;
    font-size : 11px;
    line-height: 15px;


}
#date-key{
    margin-right : 10px;
    padding-right : 10px;
    border-right: solid 1px #e9e9e9;
}
#date-date{
    font-size : 13px;
}
#profile-remaindate{
    margin-top : 5px;
    font-size : 7px;
    width : inherit;
    text-align : center;
}
#info1{
    margin : auto;
    margin-top : 20px;
    height : 40px;
    width : 90%;
    border-radius: 5px 5px 0px 0px;
    background-color: #463d3f;
    display : flex;
    justify-content: space-around;
}
#dday{
    display : flex;
}
#dday-icon{
    margin-right : 15px;
    display : flex;
    justify-content: center;
    align-items: center;
}
#dday-num{
    font-size : 15px;
    color : #ffffff;
    display : flex;
    align-items: center;
    font-weight: bold;
}

#ageclass{
    display : flex;
}

#ageclass-icon{
    margin-right : 15px;
    display : flex;
    justify-content: center;
    align-items: center;
    
}
#icon-box{
    width : 20px;
    height : 18px;
    background-color : #fffae3;
    border-radius : 3px;
    color : #463d3f;
    display : flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size : 12px;

}
#ageclass-name{
    font-size : 15px;
    color : #ffffff;
    display : flex;
    align-items: center;
    font-weight: bold;
}
#range{
    
    height : 50px;
    padding : 20px 20px 30px 20px;
    background-color: #53494b;
    
}

.range-header{
    
    display : flex;
    justify-content: space-between;
    color : #ffffff;
    font-size : 15px;
}
.range-left{
    font-weight: bold;
}
.range-bar {
    width : 100%;
    appearance: none;
}
.range-bar::-webkit-progress-bar {
    height : 15px;
    
    background:#7e7778;
    border-radius:0px;
}
.range-bar::-webkit-progress-value {
    border-radius:0px;
    background: #90c8b1;
}
#range-info{
    font-size:13px;
    color : #90c8b1;
    position : absolute;
    transform: translate(100%, -2px);
}

#subrange{
    
    background-color: #463d3f;
    height : 100px;
    color : #ffffff;
    display : flex;
    justify-content: space-around;
}
.subrange-content{
    width : 50%;
    padding : 10px 20px;
    
}

#age-date{
    text-align: right;
    font-size : 11px;
    
}

.subrange-bar::-webkit-progress-bar {
    height : 7px;
    
    background:#746e6f;
}
.subrange-bar::-webkit-progress-value {
    background: #fbf4de;
}

#info2{
    padding : 20px;
}

.main-row{
    display : flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #e9e9e9 1px;
    padding : 5px 0px
}

.main-left{
    font-size : 15px;
    font-weight : bold;
}